.weather-options {
    text-align: center;
    margin-top: 20px;
  }
  
  .options {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
  }
  
  .option {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .option.selected {
    border-color: #003366;
    background-color: #ADD8E6; /* Change this to light blue */
    color: white; /* Optional: change text color to white */
  }
  
  .next-button {
    background-color: #003366; /* Dark blue color for the button */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .next-button:hover {
    background-color: #002244; /* Darker blue on hover */
  }
  
  .icon {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .low-rainfall-icon {
    background-image: url('../assets/drought.webp');
  }
  
  .excess-rainfall-icon {
    background-image: url('../assets/rainfall.webp');
  }
  
  .thermal-icon {
    background-image: url('../assets/solar.webp');
  }
  
  .wind-icon {
    background-image: url('../assets/temperature.webp');
  }
  
  .solar-icon {
    background-image: url('../assets/wind.webp');
  }
  