.sidebar {
  height: 100vh;
  width: 65px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(18, 14, 107);
  padding-top: 5px;
  transition: transform 0.3s ease;
}

.sidebar-links {
  list-style: none;
  padding: 0;
}

.sidebar-links li {
  padding: 15px;
}

.sidebar-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
  transition: background-color 0.3s ease; 
}

.sidebar-bottom-text {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center; 
  color: white; 
}

.sidebar-bottom-text p {
  margin: 5px 0; 
}

.sidebar-links li.active {
  background-color: rgb(11, 4, 67); 
  border-left: 3px solid rgb(216, 207, 207);
 
}

.sidebar-links li a {
  color: white;
  text-decoration: none; 
  display: flex;
  align-items: center; 
}

